.centre {
        display: flex;
        justify-content: center;     /* horizontal centering */
        align-items: center;         /* vertical centering */
        text-align: center;          /* center text inside elements */
        height: 100vh;               /* full viewport height */
        flex-direction: column;      /* stack items vertically */
}

.button-group {
    display: flex;
    display-direction: row;
    gap: 10px;                   /* space between buttons */
    margin-bottom: 20px;
}