.button {
  border: none;
  color: rgb(245, 202, 9);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #007BFF; 
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(245, 202, 9);
  color: white;
}

.button:active {
  background-color: #028a5b;
  transform: scale(0.9); 
}

h1 {
  color: #333333;
  font-family: 'Arial', sans-serif;
  border-bottom: 2px solid #666;
}